<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="wust.dao.NewsDao">
	<select id="query_count_groupby_emotion" parameterType="string" resultType="map">
		select
		count(*) as count,emotion from yqms 
		where emotion !="" 
		<if test="date != null and date !=''">
			and str_to_date(time,"%Y/%m/%d") >= #{date}
		</if>
		group by emotion;
	</select>

	<select id="query_count_groupby_source"
		resultType="map">
		select count(*) as count,source FROM yqms.yqms 
		<where>
			title != "" and content != ""
			<if test="date != null and date !=''">
				and str_to_date(time,"%Y/%m/%d") >= #{date}
			</if>
		</where>
		group by source 
		order by count 
		desc limit 0,#{limit};
	</select>

	<select id="query_count_groupby_school" parameterType="int"
		resultType="map">
		select count(*) as count,keyword FROM yqms.yqms where
		keyword like "%学%" group by
		keyword order by count desc;
	</select>

	<select id="query_yujing_news" parameterType="int"
		resultType="wust.bean.News">
		select * FROM yqms.yqms where emotion="负面" AND title != ""
		AND content != "" order by str_to_date(time,'%Y/%m/%d %H:%i')
		desc limit #{cursor},30;
	</select>

	<select id="query_gaoxiao_news" parameterType="int"
		resultType="wust.bean.News">
		select * FROM yqms.yqms where keyword like "%学%" order by
		str_to_date(time,'%Y/%m/%d %H:%i') desc limit #{cursor},30;
	</select>

	<select id="query_guanzhu_news" parameterType="map"
		resultType="wust.bean.News">
		select * FROM yqms.yqms
		<where>
			title != "" AND content != ""
			<if test="school != null and school !='' and school !='全部高校'">
				AND keyword = #{school}
			</if>
			<if test="zhuanti != null and zhuanti !='' and zhuanti !='全部专题'">
				AND title like concat('%',#{zhuanti},'%')
			</if>
			<if test="time != null and time!='' and time != '全部时间'">
				AND str_to_date(time,"%Y/%m/%d") >= #{time}
			</if>
			<if test="emotion != null and emotion !='' and emotion != '全部情感'">
				AND emotion = #{emotion}
			</if>
			<if test="media != null and media !='' and media != '全部媒体'">
				AND source = #{media}
			</if>
			<if test="search_content != null and search_content !='' and search_scope == '全文'">
				AND content like concat('%',#{search_content},'%')
			</if>
			<if test="search_content != null and search_content !='' and search_scope == '作者'">
				AND author like concat('%',#{search_content},'%')
			</if>
			<if test="search_content != null and search_content !='' and search_scope == '标题'">
				AND title like concat('%',#{search_content},'%')
			</if>
			<if test="search_content != null and search_content !='' and search_scope == '来源'">
				AND source like concat('%',#{search_content},'%')
			</if>
		</where>
		<if test="sort != null and sort !='' and sort == 'desc'">
			order by str_to_date(time,'%Y/%m/%d %H:%i') desc
		</if>
		<if test="sort != null and sort !='' and sort == 'asc'">
			order by str_to_date(time,'%Y/%m/%d %H:%i') asc
		</if>
		limit #{cursor},30;
	</select>

	<select id="query_guanzhu_news_count" parameterType="map"
		resultType="map">
		select count(*) as count FROM yqms.yqms
		<where>
			title != "" AND content != ""
			<if test="school != null and school !='' and school =='全部高校'">
				AND keyword like "%学%"
			</if>
			<if test="zhuanti != null and zhuanti !='' and zhuanti !='全部专题'">
				AND title like concat('%',#{zhuanti},'%')
			</if>
			<if test="school != null and school !='' and school !='全部高校'">
				AND keyword = #{school}
			</if>
			<if test="time != null and time!='' and time != '全部时间'">
				AND str_to_date(time,"%Y/%m/%d") >= #{time}
			</if>
			<if test="emotion != null and emotion !='' and emotion != '全部情感'">
				AND emotion = #{emotion}
			</if>
			<if test="media != null and media !='' and media != '全部媒体'">
				AND source = #{media}
			</if>
			<if test="search_content != null and search_content !='' and search_scope == '全文'">
				AND content like concat('%',#{search_content},'%')
			</if>
			<if test="search_content != null and search_content !='' and search_scope == '作者'">
				AND author like concat('%',#{search_content},'%')
			</if>
			<if test="search_content != null and search_content !='' and search_scope == '标题'">
				AND title like concat('%',#{search_content},'%')
			</if>
			<if test="search_content != null and search_content !='' and search_scope == '来源'">
				AND source like concat('%',#{search_content},'%')
			</if>
		</where>
	</select>
	
	<select id="query_other_guanzhu_news" parameterType="map"
		resultType="wust.bean.News">
		select * FROM yqms.yqms
		<where>
			title != "" 
			AND content != ""
			AND source != '新浪微博'
			AND source != '微信'
			AND source != '搜狐新闻'
			AND source != '腾讯网-腾讯网'
			AND source != '网易号'
			AND source != '知乎'
			AND source != '百度百家'
			AND source != '今日头条-微头条'
			AND source != '一点资讯'
			AND source != '今日头条'
			<if test="school != null and school !='' and school !='全部高校'">
				AND keyword = #{school}
			</if>
			<if test="zhuanti != null and zhuanti !='' and zhuanti !='全部专题'">
				AND title like concat('%',#{zhuanti},'%')
			</if>
			<if test="time != null and time!='' and time != '全部时间'">
				AND str_to_date(time,"%Y/%m/%d") >= #{time}
			</if>
			<if test="emotion != null and emotion !='' and emotion != '全部情感'">
				AND emotion = #{emotion}
			</if>
			<if test="search_content != null and search_content !='' and search_scope == '全文'">
				AND content like concat('%',#{search_content},'%')
			</if>
			<if test="search_content != null and search_content !='' and search_scope == '作者'">
				AND author like concat('%',#{search_content},'%')
			</if>
			<if test="search_content != null and search_content !='' and search_scope == '标题'">
				AND title like concat('%',#{search_content},'%')
			</if>
			<if test="search_content != null and search_content !='' and search_scope == '来源'">
				AND source like concat('%',#{search_content},'%')
			</if>
		</where>
		<if test="sort != null and sort !='' and sort == 'desc'">
			order by str_to_date(time,'%Y/%m/%d %H:%i') desc
		</if>
		<if test="sort != null and sort !='' and sort == 'asc'">
			order by str_to_date(time,'%Y/%m/%d %H:%i') asc
		</if>
		limit #{cursor},30;
	</select>
	
	<select id="query_other_guanzhu_news_count" parameterType="map"
		resultType="map">
		select count(*) as count FROM yqms.yqms
		<where>
			title != "" 
			AND content != ""
			AND source != '新浪微博'
			AND source != '微信'
			AND source != '搜狐新闻'
			AND source != '腾讯网-腾讯网'
			AND source != '网易号'
			AND source != '知乎'
			AND source != '百度百家'
			AND source != '今日头条-微头条'
			AND source != '一点资讯'
			AND source != '今日头条'
			<if test="school != null and school !='' and school =='全部高校'">
				AND keyword like "%学%"
			</if>
			<if test="zhuanti != null and zhuanti !='' and zhuanti !='全部专题'">
				AND title like concat('%',#{zhuanti},'%')
			</if>
			<if test="school != null and school !='' and school !='全部高校'">
				AND keyword = #{school}
			</if>
			<if test="time != null and time!='' and time != '全部时间'">
				AND str_to_date(time,"%Y/%m/%d") >= #{time}
			</if>
			<if test="emotion != null and emotion !='' and emotion != '全部情感'">
				AND emotion = #{emotion}
			</if>
			<if test="search_content != null and search_content !='' and search_scope == '全文'">
				AND content like concat('%',#{search_content},'%')
			</if>
			<if test="search_content != null and search_content !='' and search_scope == '作者'">
				AND author like concat('%',#{search_content},'%')
			</if>
			<if test="search_content != null and search_content !='' and search_scope == '标题'">
				AND title like concat('%',#{search_content},'%')
			</if>
			<if test="search_content != null and search_content !='' and search_scope == '来源'">
				AND source like concat('%',#{search_content},'%')
			</if>
		</where>
	</select>
	
	<select id="query_zhuanti_news" parameterType="map"
		resultType="wust.bean.News">
		select * FROM yqms.yqms
		<where>
			title != "" AND content != ""
			<if test="zhuanti != null and zhuanti !='' and zhuanti !='全部专题'">
				AND title like concat('%',#{zhuanti},'%')
			</if>
			<if test="time != null and time!='' and time != '全部时间'">
				AND str_to_date(time,"%Y/%m/%d") >= #{time}
			</if>
			<if test="emotion != null and emotion !='' and emotion != '全部情感'">
				AND emotion = #{emotion}
			</if>
			<if test="media != null and media !='' and media != '全部媒体'">
				AND source = #{media}
			</if>
		</where>
		<if test="sort != null and sort !='' and sort == 'desc'">
			order by str_to_date(time,'%Y/%m/%d %H:%i') desc
		</if>
		<if test="sort != null and sort !='' and sort == 'asc'">
			order by str_to_date(time,'%Y/%m/%d %H:%i') asc
		</if>
		limit #{cursor},30;
	</select>

	<select id="query_zhuanti_news_count" parameterType="map"
		resultType="map">
		select count(*) as count FROM yqms.yqms
		<where>
			<if test="zhuanti != null and zhuanti !='' and zhuanti !='全部专题'">
				AND title like concat('%',#{zhuanti},'%')
			</if>
			<if test="time != null and time!='' and time != '全部时间'">
				AND str_to_date(time,"%Y/%m/%d") >= #{time}
			</if>
			<if test="emotion != null and emotion !='' and emotion != '全部情感'">
				AND emotion = #{emotion}
			</if>
			<if test="media != null and media !='' and media != '全部媒体'">
				AND source = #{media}
			</if>
		</where>
	</select>
	
	<select id="query_other_zhuanti_news" parameterType="map"
		resultType="wust.bean.News">
		select * FROM yqms.yqms
		<where>
			title != "" 
			AND content != ""
			AND source != '新浪微博'
			AND source != '微信'
			AND source != '搜狐新闻'
			AND source != '腾讯网-腾讯网'
			AND source != '网易号'
			AND source != '知乎'
			AND source != '百度百家'
			AND source != '今日头条-微头条'
			AND source != '一点资讯'
			AND source != '今日头条'
			<if test="zhuanti != null and zhuanti !='' and zhuanti !='全部专题'">
				AND title like concat('%',#{zhuanti},'%')
			</if>
			<if test="time != null and time!='' and time != '全部时间'">
				AND str_to_date(time,"%Y/%m/%d") >= #{time}
			</if>
			<if test="emotion != null and emotion !='' and emotion != '全部情感'">
				AND emotion = #{emotion}
			</if>
		</where>
		<if test="sort != null and sort !='' and sort == 'desc'">
			order by str_to_date(time,'%Y/%m/%d %H:%i') desc
		</if>
		<if test="sort != null and sort !='' and sort == 'asc'">
			order by str_to_date(time,'%Y/%m/%d %H:%i') asc
		</if>
		limit #{cursor},30;
	</select>

	<select id="query_other_zhuanti_news_count" parameterType="map"
		resultType="map">
		select count(*) as count FROM yqms.yqms
		<where>
			title != "" 
			AND content != ""
			AND source != '新浪微博'
			AND source != '微信'
			AND source != '搜狐新闻'
			AND source != '腾讯网-腾讯网'
			AND source != '网易号'
			AND source != '知乎'
			AND source != '百度百家'
			AND source != '今日头条-微头条'
			AND source != '一点资讯'
			AND source != '今日头条'
			<if test="zhuanti != null and zhuanti !='' and zhuanti !='全部专题'">
				AND title like concat('%',#{zhuanti},'%')
			</if>
			<if test="time != null and time!='' and time != '全部时间'">
				AND str_to_date(time,"%Y/%m/%d") >= #{time}
			</if>
			<if test="emotion != null and emotion !='' and emotion != '全部情感'">
				AND emotion = #{emotion}
			</if>
		</where>
	</select>


	<select id="query_all_news" parameterType="map"
		resultType="wust.bean.News">
		select * FROM yqms.yqms
		<where>
			title != "" AND content != ""
			<if test="time != null and time!='' and time != '全部时间'">
				AND str_to_date(time,"%Y/%m/%d") >= #{time}
			</if>
			<if test="emotion != null and emotion !='' and emotion != '全部情感'">
				AND emotion = #{emotion}
			</if>
			<if test="media != null and media !='' and media != '全部媒体'">
				AND source = #{media}
			</if>
			<if test="search_content != null and search_content !='' and search_scope == '全文'">
				AND content like concat('%',#{search_content},'%')
			</if>
			<if test="search_content != null and search_content !='' and search_scope == '作者'">
				AND author like concat('%',#{search_content},'%')
			</if>
			<if test="search_content != null and search_content !='' and search_scope == '标题'">
				AND title like concat('%',#{search_content},'%')
			</if>
			<if test="search_content != null and search_content !='' and search_scope == '来源'">
				AND source like concat('%',#{search_content},'%')
			</if>
		</where>
		order by str_to_date(time,'%Y/%m/%d %H:%i') desc limit #{cursor},30;
	</select>

	<select id="query_all_news_count" parameterType="map"
		resultType="map">
		select count(*) as count FROM yqms.yqms
		<where>
			title != "" AND content != ""
			<if test="time != null and time!='' and time != '全部时间'">
				AND str_to_date(time,"%Y/%m/%d") >= #{time}
			</if>
			<if test="emotion != null and emotion !='' and emotion != '全部情感'">
				AND emotion = #{emotion}
			</if>
			<if test="media != null and media !='' and media != '全部媒体'">
				AND source = #{media}
			</if>
		</where>
	</select>
	
	<select id="query_other_news" parameterType="map"
		resultType="wust.bean.News">
		select * FROM yqms.yqms
		<where>
			title != "" 
			AND content != ""
			AND source != '新浪微博'
			AND source != '微信'
			AND source != '搜狐新闻'
			AND source != '腾讯网-腾讯网'
			AND source != '网易号'
			AND source != '知乎'
			AND source != '百度百家'
			AND source != '今日头条-微头条'
			AND source != '一点资讯'
			AND source != '今日头条'
			<if test="time != null and time!='' and time != '全部时间'">
				AND str_to_date(time,"%Y/%m/%d") >= #{time}
			</if>
			<if test="emotion != null and emotion !='' and emotion != '全部情感'">
				AND emotion = #{emotion}
			</if>
			<if test="search_content != null and search_content !='' and search_scope == '全文'">
				AND content like concat('%',#{search_content},'%')
			</if>
			<if test="search_content != null and search_content !='' and search_scope == '作者'">
				AND author like concat('%',#{search_content},'%')
			</if>
			<if test="search_content != null and search_content !='' and search_scope == '标题'">
				AND title like concat('%',#{search_content},'%')
			</if>
			<if test="search_content != null and search_content !='' and search_scope == '来源'">
				AND source like concat('%',#{search_content},'%')
			</if>
		</where>
		order by str_to_date(time,'%Y/%m/%d %H:%i') desc limit #{cursor},30;
	</select>
	
	<select id="query_others_news_count" parameterType="map"
		resultType="map">
		select count(*) as count FROM yqms.yqms
		<where>
			title != "" 
			AND content != ""
			AND source != '新浪微博'
			AND source != '微信'
			AND source != '搜狐新闻'
			AND source != '腾讯网-腾讯网'
			AND source != '网易号'
			AND source != '知乎'
			AND source != '百度百家'
			AND source != '今日头条-微头条'
			AND source != '一点资讯'
			AND source != '今日头条'
			<if test="time != null and time!='' and time != '全部时间'">
				AND str_to_date(time,"%Y/%m/%d") >= #{time}
			</if>
			<if test="emotion != null and emotion !='' and emotion != '全部情感'">
				AND emotion = #{emotion}
			</if>
		</where>
	</select>
	
	<select id="query_news_byid" parameterType="int" resultType="wust.bean.News">
		select * from yqms.yqms where id = #{id}
	</select>

	<select id="query_date" resultType="map">
		select
		str_to_date(time,"%Y/%m/%d") as rel_date FROM yqms.yqms where
		str_to_date(time,"%Y/%m/%d")!="0000-00-00" group by rel_date order by
		rel_date desc;
	</select>

	<select id="query_emotionCountby_date" parameterType="string"
		resultType="map">
		select count(*) as count,emotion FROM yqms.yqms where
		str_to_date(time,"%Y/%m/%d")=#{date} group by emotion;
	</select>

	<select id="query_source_detail"
		resultType="map">
		select count(*) as count,emotion FROM yqms.yqms 
		where source=#{source} 
		<if test="date != null and date !=''">
			and str_to_date(time,"%Y/%m/%d") >= #{date}
		</if>
		group by emotion;
	</select>

	<select id="query_count_groupby_keyword" resultType="map">
		select
		count(*) as count,keyword FROM yqms.yqms group by keyword order by
		count desc;
	</select>


	<select id="query_count_groupby_bozhu" parameterType="int"
		resultType="map">
		SELECT count(*) as count,author FROM yqms.yqms where
		source="新浪微博" group by author order by count desc limit 0,#{limit};
	</select>
	
	<select id="query_source_picurl" parameterType="string"
		resultType="string">
		SELECT url FROM yqms.source_pic where source=#{source};
	</select>


	<!-- <select id="query_count_groupby_sourceAnddate" resultType="map"> SELECT 
		count(*) as count,emotion,str_to_date(time,"%Y/%m/%d") as rel_date FROM yqms.yqms 
		where str_to_date(time,"%Y/%m/%d")!="0000-00-00" group by emotion,rel_date 
		order by rel_date desc; </select> -->
</mapper>